.foot-section {
    background-color: white;
    padding: 50px;
    font-size: 80%;
    
}




.foot-section p {
    color: #f8d9c2;
    text-align: center;
    margin-top: 20px;
    text-align: center;
    font-family: 'IBMPlexSansKR-Medium';
    font-size: 1.2rem;
}